
<md-dialog>
  <form>
  <md-dialog-content  class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Add Test Name</md-subheader>
    <md-input-container layout='row' flex>
			 <input id='inpt_batchname' placeholder='Test Name' type="text" ng-model="test_name"/>
			</md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
    <md-button ng-click="Dialog_save()" class="md-primary">
     Create
    </md-button>
    <md-button ng-click="Dialog_cancel()" class="md-primary">
      Discard
    </md-button>
  </div>
    </form>
    </md-dialog>